.column-header.no-float
  ul.nav.navbar-nav
    li.icon-logo

    if user
      li(class=(title == 'Home') ? 'active' : undefined)
        a(href='/forms') Forms
      li
        a(href="/logout") Log out
