extends layout

block content
    .col-md-5.left-column.no-float
      include partials/header

      h1 Here's your<br><span class="green-text">list of forms</span>

    .col-md-7.right-column-dark.no-float
      h3 &nbsp;

      .question-list
        for form in forms
          .form-tile
            h3= form.name
            a(href="/forms/" + form._id) Edit

      a.btn.btn-save.pull-right(href="/forms/new") New Form
