extends layout

block content
    .col-md-5.left-column.no-float
      include partials/header

      h1 Here's your<br><span class="green-text">list of forms</span>

      p
        a.btn.btn-save(href="/forms/new") New Form

    .col-md-7.right-column-dark.no-float
      h3 &nbsp;

      .question-list
        for form in forms
          .form-tile
            h3= form.name
            p Responses: #{form.responseCount}

            if !form.smoochToken
              a(href="/forms/" + form._id) Edit &nbsp; &nbsp;
              if form.fields
                a(href='https://app.smooch.io/oauth/authorize?client_id=chatform&response_type=code&state='+form._id) Publish &nbsp; &nbsp;
              a(href="/forms/"+form._id+"/delete") Delete
            else
              a(href="/forms/"+form._id+"/responses") Results &nbsp; &nbsp;
              a(href="/forms/"+form._id+"/delete") Delete
