extends layout

block content
  h1 Chatform
  p.lead This is how you make conversational chat forms, bro.
  p
  if user
    a.btn.btn-primary(href='/forms', role='button') Your forms »
  else
    a.btn.btn-primary(href='/signup', role='button') Sign up, free »

  hr
  .row
    .col-sm-6
      h2 It's Awesome
      p The best taco bowls are made in Trump Tower Grill. I love Hispanics! Some people have an ability to write placeholder text... It's an art.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Seriously
      p I think the only card she has is the Lorem card. An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Absolutely Crazy
      p We have so many things that we have to do better... and certainly ipsum is one of them. You know, it really doesn’t matter what you write as long as you’ve got a young, and beautiful, piece of text
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Gonna be huge
      p Look at that text! Would anyone use that? Can you imagine that, the text of your next webpage?! Look at these words.
      p
        a.btn.btn-default(href='#', role='button') View details »
