doctype html
html
  head
    title Chatform
    link(type='text/css', rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/main.css')
    link(type='text/css', rel='stylesheet', href='/css/style2.css')
    link(type='text/css', rel='stylesheet', href='/css/lity.min.css')
    link(href='https://fonts.googleapis.com/css?family=Titan+One', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i', rel='stylesheet')
    meta(name="viewport" content="width=device-width")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47399515-19', 'auto');
      ga('send', 'pageview');
  body
    header.navbar
      .container
        .navbar-header
          img.logo(src="/logo_purple.png")
    main
      .container
        .row.purple-hero
          .col-md-6
            img(src='/bckg.svg', alt='chatform-illustration')
          .col-md-6
            .title
              // h1>We bring your survey to life</h1
              h1.margin-right TURN YOUR SURVEY INTO A CONVERSATION ON ANY MESSAGING APP
              .btn
                if user
                  a.btn.btn-q-white-trans(href='/forms') Your Forms
                else
                  a.btn.btn-q-white-trans(href='/signup') Sign Up
                a.btn.btn-q-white-trans(href='//www.youtube.com/watch?v=W6SyEjnbUkM' data-lity) Watch the video
        .row.feature-block
          .col-md-6.cyan-hero
            .title
              // h1 class="margin-left">How </br>it </br>works</h1
              h1.margin-left.margin-right CONVERSATIONS: A MORE HUMAN APPROACH TO SURVEYS
              div.rect
          .col-md-6.features
            .feature-list
              .feature-row
                div
                  img.icon(src='/icon_focus.svg', alt='chatform-illustration')
                .text
                  p
                    | Your users can respond to your survey using their favourite messaging app. You can supervise using Slack or other <a href="https://app.smooch.io/integrations/categories/business-systems">business system</a>.
              .feature-row
                div
                  img.icon(src='/icon_boost.svg', alt='chatform-illustration')
                .text
                  p
                    | Boost your survey completion rates with engaging messaging conversations that go beyond boring web forms.
              .feature-row
                div
                  img.icon(src='/icon_worflow.svg', alt='chatform-illustration')
                .text
                  p
                    | Responses are instantly available as CSV and can be easily imported into Excel, Google Sheets, Numbers and more.
              .feature-row
                div
                  img.icon(src='/icon_channels.svg', alt='chatform-illustration')
                .text
                  p
                    | Reach users anywhere using the power of the <a href='https://smooch.io'>smooch.io</a> messaging platform.
              .feature-row
                div
                  img.icon(src='/icon_open_source.svg', alt='chatform-illustration')
                .text
                  p
                    | Chatform is entirely <a href="https://github.com/gozman/chatform">open source</a>, check it out on github, modify it and deploy it to your own server
              .feature-row
                a.btn.pull-right(id="try-survey") Try a survey
        .row.purple-hero
          .col-md-12
            .sponsor
              p.center Built by <a href="http://twitter.com/gozmike">Mike Gozzo</a> and <a href="http://lucieletouze.com/">Lucie Le Touze</a> at a <a href="https://smooch.io/">Smooch.io</a> hackathon in January 2017

    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdn.smooch.io/smooch.min.js')
    script(src='/js/lity.js')
    script.
      $().ready(function() {
      Smooch.init({
      appToken: 'cr6nl9xrvl2pdyzb8lyrwd8gh',
      imageUploadEnabled: false,
      customText: {
      headerText: 'Try a Survey',
      introductionText: 'This is a demonstration of a survey running on chatform.ai'
      }
      });
      $("#try-survey").click(function() {
      Smooch.open();
      })
      });
