extends layout

block content
    .col-md-5.left-column.no-float
      include partials/header

      p &nbsp;
      
      p Chatform.ai uses <a href="https://smooch.io" target="_blank">Smooch</a> to publish your forms to a variety of different messaging apps.

      p Publishing with Smooch is easy, simply <a href="https://app.smooch.io/signup" target="_blank">sign up for free</a> and follow the steps outlined in the video below

      p <iframe width="560" height="315" src="https://www.youtube.com/embed/JsB4Z0HmdBg" frameborder="0" allowfullscreen></iframe>

    .col-md-7.right-column.no-float(id='question-list')
      h3 Publish Form: #{formInfo.name}

      .offset-md-1.col-md-5.no-float
        form.form-horizontal(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          input.meta-input(type='text', name='keyId', id='keyId', autofocus=true, placeholder="Smooch Key ID")
          input.meta-input(type='text', name='secret', id='secret', autofocus=true, placeholder="Smooch Secret")

          button.btn.btn-question.btn-q-purple.pull-right(type='submit') Publish
          div.pull-right &nbsp;&nbsp;&nbsp;&nbsp;
          a.btn.btn-question.btn-q-purple-trans.pull-right(href="/forms") Cancel
