@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

//body {
//  padding-top: 60px;
//  margin-bottom: 75px;
//}

//footer {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  height: 45px;
//  line-height: 45px;

  //p, ul {
  //  margin-bottom: 0;
  //}
//}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}


// Override for Chatform
html,body,.container {
    height:100%;
}

.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.left-column {
    background: #05B3F3;
}

.right-column {
    background:#F3F6F6;
}

.right-column-dark {
    background:#6356E5;
}

.col-md-9 {
    background: yellow;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.btn-question {
  border-radius:0;
  background-color:#90EEE1;
  color:#F3F6F6;
  font-size: 24px;
  font-weight:bold;
  box-shadow:none;
}

.btn-q-purple {
  background-color:#6356E5;
  color:#F3F6F6;
}

.btn-q-purple-trans {
  color:#6356E5;
  background-color:transparent;
  border-color:#6356E5;
}

.btn-save {
  border-radius:24px;
  background-color:#90EEE1;
  color:#F3F6F6;
  font-size: 24px;
  font-weight:bold;
  padding:10px 20px 10px 20px;
  box-shadow:none;
  margin-left: 10px;
  margin-top: 20px;
}

.btn-secondary {
  border-radius:24px;
  background-color:#F3F6F6;
  padding:10px 20px 10px 20px;
  box-shadow:none;
  margin-left: 10px;
  font-size: 24px;
  color:#90EEE1;
  border-color:#90EEE1;
  margin-top: 20px;
}

.btn-secondary.btn-secondary-purple {
  background-color:#6356E5;
  border-color:#F3F6F6;
  color:#F3F6F6;
  font-size:12px;
  height:50%;
}

.form-block {
  padding-top:50px;
}

.purple-block a {
  color:#F3F6F6;
}

.white-block {
  background-color: #F3F6F6;
  padding-left:100px;
  padding-top:80px;
  padding-bottom:80px;
}

.white-block h3 {
  padding-bottom:20px;
  color:#6356E5;
}

.white-block input {
  border-radius: 20px;
  font-size:18px;
  height:50px;
  margin-bottom:20px;
  width:90%;
  background-color:#F3F6F6;
  border-color:#90EEE1;
  color:#6356E5;
  font-weight: bold;
}

form.input:focus {
  outline:none;
}

.white-block input::-webkit-input-placeholder {
  color:#90EEE1;
}

.purple-block {
    margin-top:100px;
    background-color: #6356E5;
    color: #F3F6F6;
    padding-top:80px;
    padding-bottom:80px;
    padding-left:40px;
}

.btn-question:hover {

}

.icon-logo {
  background-image: url(/logo-icon.png);
  width:76px;
  height:50px;
}

.logo-full {
  background-image: url(/logo.png);
  background-repeat: none;
  width:541px;
  height:90px;
  margin-top:40px;
  margin-left:120px;
}

.btn-remove {
  box-shadow:none;
  margin-top:-20px;
  color: #90EEE1;
  font-size:12px;
}

.column-header {
  padding-top: 80px;
  padding-bottom: 20px;
}

.question-panel {
  background-color: #E9F5F4;
  border-style:dashed;
  border-color: #90EEE1;
  border-width:2px;
  padding:20px;
  color:#6356E5;
  font-size: 18px;
  font-weight:bold;
  width:100%;
  clear:both;
  margin-bottom:40px;
}

.question-panel textarea {
  background-color: #E9F5F4;
  border-style:none;
}

.right-column h3 {
  color: #6356E5;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.meta-input::-webkit-input-placeholder {
  color: #52C8F2;
}

.question-panel textarea::-webkit-input-placeholder {
  color: #90EEE1;
}

.question-panel input {
  border: none;
  background-color: #E9F5F4;
  font-weight:normal;
  color: #6356E5;
}

.question-panel input::-webkit-input-placeholder  {
  color: #90EEE1;
}

.add-answer {
  color: #90EEE1;
  margin-left:10px;
}

.remove-answer {
  color: #90EEE1;
  margin-left:10px;
}

.meta-input {
  background-color: #DCF0F6;
  color: #6356E5;
  border-style:dashed;
  border-color: #52C8F2;
  border-width:2px;
  font-size: 18px;
  font-weight:bold;
  width:100%;
  clear:both;
  padding:20px;
  margin-bottom:40px;
}

textarea:focus, input:focus{
    outline: none;
}

.container {
    margin-top: 0px;
    padding-top: 0px;
}

textarea {
  resize:none;
}

.form-tile {
  width:290px;
  float:left;
  background-color: #F3F6F6;
  margin:5px;
  padding: 0px 5px 0px 5px;
}

.question-list {
  display: table-cell;
}

.green-text {
  color: #90EEE1;
}

.left-column h1 {
  font-size: 64px;
}

.left-column li {
  font-weight:bold;
  color: #90EEE1;
}

#add_text_question {
  margin-top:250px;
  margin-left: 100px;
}

.left-panel-pad {
  margin-left: 100px
}

#add_multiple_choice_question {
  margin-left:100px;
}

.navbar-nav {
  > li > a {
    color: $navbar-default-link-color;

    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
      background-color: transparent;
    }
  }
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: $navbar-default-link-active-color;
      background-color: transparent;
    }
  }
  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: $navbar-default-link-disabled-color;
      background-color: transparent;
    }
  }
}

.left-column p {
  color:#F3F6F6;
}

.left-column a.text-link {
  color:#6356E5;
}

.left-column iframe {
  margin-top:50px;
}
