/*--- GENERAL ---*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    height: 100%;
}
body {
    box-sizing: border-box;
    background-color: #f3f6f6;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*font-family: 'Titan One', cursive;*/
    font-family: 'Amaranth', sans-serif;
    font-size: 16px;
}
header, section, footer {
    margin-left: auto;
    margin-right: auto;
    /*max-width: 1600px;*/
}
.header-wrapper, .main-wrapper{
    /*max-width: 1600px;*/
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
header{
    position: fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width:100%;
    background-color: #6356e5;
    border-bottom: 1px solid #05b3f3;
    z-index: 99999;w
}
section{
    position: relative;
    height: 100vh;
    width:100%;
    /*padding: 5rem 0;*/
}

h1{
    text-transform: uppercase;
    /*font-size: 5em;
    width: 75%;*/
    padding-bottom: 45px;
    font-size: 4.3vmax;
    /*margin-right: 100px;*/
}
.btn a{
    font-family: 'Amaranth', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 20px 60px;
    border-radius: 50px;
}
a{
    text-decoration: none;
}
.margin-left{
    /*margin-left: 100px;*/
    margin-left: 15%;
}
.margin-right{
    margin-right: 15%;
}
.left, .right{
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    height: 100%;
}
.logo svg{
    margin-top: 20px;
    height: 50%;
    width:auto;
}
#logo .st3{
    fill:#FFFFFF;
}
#logo .st1{
    fill:#6356e5;
}
.nav{
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.nav ul{
    list-style-type: none;
}
.nav li{
    display: inline-block;
    padding-right: 20px;
}
.nav li a{
        color: #f3f6f6;
}
.nav a:hover{
    color: #90eee1;
    text-decoration: line-through;
}
.abstract{
    background-color: #6356e5;
    color: #f3f6f6;
}
.abstract .left{
    text-align: center;
}
.abstract .left img{
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.abstract .btn a{
    background-color: #6356e5;
    border: 1px solid #f3f6f6;
    color: #f3f6f6;
    margin-right: 1.5rem;
}
.abstract .btn a:hover{
    background-color: #90eee1;
    border: 1px solid #90eee1;
    color: #6356e5;
}
.overview{
    background-color: #f3f6f6;
    color: #6356e5;
}
.overview .rect{
    width: 200px;
    height: 15px;
    background-color: #90eee1;
}
.overview .left{
    background-color: #05b3f3;
}
.title, .details{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.overview .row{
    height: 25%;
    padding-bottom: 25px;
}
.overview .icon, .text{
    display:inline-block;
    vertical-align: middle;
}
.overview .icon{
    width: 8%;
}
.overview .text{
    padding-left: 1.5rem;
    width: 65%;
}
.overview .btn{
    /*position: relative;
    top: -15%;
    text-align: center; --- if center */
    /*position: relative;
    top: -8%;*/
    margin-top: 1.5rem;
}
.overview .btn a{
    font-family: 'Amaranth', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 20px 60px;
    border-radius: 50px;
    background-color: #90eee1;
    border: 1px solid #90eee1;
    color: #f3f6f6;
}
.overview .btn a:hover{
    background-color: #f3f6f6;
    border: 1px solid #90eee1;
    color: #90eee1;
    text-decoration: none;
}
.overview a{
    color: #90eee1;
}
.overview a:hover{
    text-decoration: line-through;
}
footer{
    background-color: #6356e5;
    color: #f3f6f6;
    height: 50vh;
}
.sponsor{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
}
.sponsor p, img{
    display: inline-block;
}
.sponsor p{
    margin-right: 0.19rem;
}
.sponsor img{
    height: 1rem;
    position: relative;
    top: 0.19rem;
    margin-left: 0.19rem;
}

@media only screen
and (min-device-width : 280px)
and (max-device-width : 960px)
and (orientation : portrait) {
    section {
    height: auto;
    }
    .header-wrapper, .main-wrapper{
        text-align: center;
    }
    .abstract .left, .abstract .right, .overview .left, .overview .right{
        display: block;
        vertical-align: top;
        width: 100%;
        height: auto;
    }
    .abstract .left img {
    width: 80%;
    position: relative;
    top: 0;
    transform: translateY(0);
    margin-top: 100px;
    }
    .abstract .btn, .overview .btn{
        margin-bottom: 105px;
    }
    .title, .details {
    position: relative;
    padding: 0 10%;
    text-align: center;
    top: 0;
    transform: translateY(0);
    height: 100%;
    }
    .details {
    margin-top: 85px;
    }
    h1 {
    padding: 85px 0;
    }
    .margin-left{
        margin-left: 0;
    }
    .margin-right{
        margin-right: 0;
    }
    .overview .rect {
    width: 200px;
    height: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #90eee1;
    margin-bottom: 85px; */
    }
    .overview .text {
    text-align: left;
    }
 }
